<div class="ui-g">
    <div class="ui-g-12" style="margin-bottom: -25px;">
        <div class="card card-w-title">
            <div class="ui-g" style="margin-bottom: -15px; margin-top: -15px;">
                <div class="ui-g-2 ui-md-2" align="left">
                    <button (click)="redirectBackPage()"
                            pButton
                            type="button"
                            icon="pi pi-chevron-left"
                            style="margin-right: .5em">
                    </button>
                </div>
                <div class="ui-g-8 ui-md-8" align="center">
                    <strong>Datos del Punto</strong>
                </div>
                <div class="ui-g-2 ui-md-2" align="right">
                    <button (click)="saveData()" pButton
                            type="button"
                            icon="fa fa-save"
                            iconPos="right"
                            class="success-btn"
                            style="margin-left: 5px"
                            label="Guardar">
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="ui-g-12"  style="margin-top: 15px;">
        <div class="card card-w-title">
            <div class="ui-g">
                <div class="ui-g-12 ui-lg-6">
                    <div class="ui-g ui-fluid form-group">
                        <div class="ui-g-12 ui-md-6" align="right">
                            <h3>Nombre:</h3>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <input [(ngModel)]="puntoModel.nombre"
                                   type="text" pInputText placeholder="">
                        </div>
                        <div class="ui-g-12 ui-md-6" align="right">
                            <h3>Empresa:</h3>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <p-dropdown [options]="listClientItem"
                                        [(ngModel)]="selectEmpresaModel"
                                        [filter]="true">
                            </p-dropdown>
                        </div>
                        <div class="ui-g-12 ui-md-6" align="right">
                            <h3>Tipo:</h3>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <p-dropdown [options]="listTypeItem"
                                        [(ngModel)]="puntoModel.tipo"
                                        [filter]="true">
                            </p-dropdown>
                        </div>
                        <div class="ui-g-12 ui-md-6" align="right">
                            <h3>Dirección:</h3>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <input [(ngModel)]="puntoModel.direccion"
                                   type="text" pInputText placeholder="">
                        </div>
                    </div>
                </div>

                <div class="ui-g-12 ui-lg-6">
                    <div class="ui-g ui-fluid form-group">
                        <div class="ui-g-12 ui-md-6" align="right">
                            <h3>Latitud:</h3>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <input [(ngModel)]="puntoModel.latitud"
                                   type="text" pInputText placeholder="">
                        </div>
                        <div class="ui-g-12 ui-md-6" align="right">
                            <h3>Longitud:</h3>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <input [(ngModel)]="puntoModel.longitud"
                                   type="text" pInputText placeholder="">
                        </div>
                        <div class="ui-g-12 ui-md-6" align="right">
                            <h3>Estado</h3>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <p-dropdown [options]="listStatusItem"
                                        [(ngModel)]="puntoModel.estado"
                                        [filter]="true">
                            </p-dropdown>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

